{% extends 'base_content.html.twig' %}

{% block title %}Управление статьями{% endblock %}

{% block content %}
    <div class="admin-header-with-button mb-3">
        <h1>Управление Статьями</h1>
        <div><a class="btn btn-primary" href="{{ path('app_admin_articles_create') }}">Создать новую статью</a></div>
    </div>

    {% include 'partial/filter.html.twig' with {'hideShowDeleted': true}%}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Опубликована</th>
        </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>
                    <a href="{{ path('app_article_show', {slug: article.slug }) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.description }}</td>
                <td>{{ article.author.firstName }}</td>
                <td><i class="fas fa-{{ article.isPublished ? 'check text-success' : 'times text-danger' }}"></i></td>
                <td><a href="{{ path('app_admin_articles_edit', {id: article.id}) }}"><i class="fas fa-pen"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    Совпадений не найдено
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
